body{
    background-image: linear-gradient(blue,yellow);
    
}
.btn{
    background-color: aqua;
    
}
label{
    color: rgb(0, 0, 0);
}
.input{
    color: blue;
}
.head{
    color:white;
    text-align: center;
}
.I12{
    background-image: url("im.jpeg");
    background-size: cover;
    background-position: center;
}
.myform{
    padding-left: 400px;
    font-size: 30px;
}
h2{
    font-style: italic;
}
.head1{
    color: white;
    text-align: center;
}
.gen{
    color: white;
    font-size: 30px;
    text-align: left;
}