body{
    background-image: linear-gradient(blue,yellow);
    
}
.btn{
    background-color: aqua;
}
label{
    color: red;
}
.input{
    color: blue;
}
.head{
    color: blue;
}
.I12{
    background-image: url("calc.jpg");
}